/* player */
#PC {
    position: absolute;
}

/* title */
#title {
    display: block;
    position: absolute;
    font-size: 40px;
}


/* Mobile */
/* .trails {
    position: absolute;

    width: 640px;
    height: 320px;

    border: 4px solid black;

    clear: both;
} */
#playfield {
    position: absolute;

    width: 640px;
    height: 320px;

    clear: both;
}

/* Tablet
@media (min-width: 768px) { 
    .trails {
        position: absolute;

        width: 640px;
        height: 360px;

        border: 4px solid black;

        clear: both;
    }

    .playfield {
        position: absolute;

        width: 640px;
        height: 360px;

        clear: both;
    }
}

Desktop
@media (min-width: 1280px) {
    .trails {
        position: absolute;

        width: 1280px;
        height: 720px;

        border: 4px solid black;

        clear: both;
    }

    .playfield {
        position: absolute;

        width: 1280px;
        height: 720px;

        clear: both;
    }
} */