/* Makes dimensions consistent by including padding and border in dimensions */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* font */
@font-face {
    font-family: GentleGiant;
    src: url('../fonts/gentle-giant.otf.woff2') format('woff2')
}
#myfont {
    font-family: 'GentleGiant';
}

/* color */
@property --color1 {
    syntax: "<color>";
    inherits: true;
    initial-value: #00ff00;
}
/* aside spacing */
@property --asidespacing{
    syntax: "<length>";
    inherits: true;
    initial-value: 0.5rem;
}

aside {
    width: fit-content;
    padding-left: var(--asidespacing);
    margin-left: var(--asidespacing);
    float: right;
}

/* #grid id */
#projects {
    display: grid;
    grid: repeat(2, 60px) / auto-flow 80px;
}
#projects > div {
    background-color: var(--color1);
    width: 64px;
    height: 24px;
    padding: 5%;
}




/* .flexbox class */
.box {
    border: 2px dotted rgb(96 139 168);
    display: flex;
    justify-content: space-between;
    background-color: rgb(96 139 168 / 0.2);
    padding: 1em;
}
.box > * {
    border: 2px solid rgb(96 139 168);
    border-radius: 5px;
    background-color: rgb(96 139 168 / 0.2);
    padding: 1em;
}

